/*
Theme Name: Business Era
Theme URI: https://maneshpro.com/downloads/business-era/
Author: Manesh Timilsina
Author URI: https://maneshpro.com
Description: Business Era is a clean, simple and professional business theme with attractive elements and ample of features for business and corporate websites. It is well suited theme for business, corporate, informative, agencies, travel, design, art, personal and any other creative websites and blogs. It features multiple sections on the front page including favicon, logo, widgets, multiple navigations, address bar, business hours, social menus, and customizer to customize theme easily.
Version: 1.1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: business-era
Tags: two-columns, right-sidebar, custom-background, custom-colors, custom-menu, featured-images, translation-ready, theme-options, threaded-comments, footer-widgets, custom-logo, blog, portfolio, education

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Business Era is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
    ## Links
    ## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Asides
    ## Comments
# Infinite scroll
# Media
    ## Captions
    ## Galleries
# Custom by Manesh

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
}

body {
    margin: 0;
	
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

button,
input,
select,
textarea {
    color: #404040;
    font-size: 14px;
    line-height: 1.5;
}

body {
    background-color: #fff;
    color: #686868;
    font-size: 15px;
    line-height: 1.4;
    margin: 0;
    font-family: Open Sans;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 0 15px 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #222222;
    font-family: "Raleway",sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3{
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul,
ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

ul, ol {
    margin: 0 0 0.5em 1em;
    padding: 0;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}


td, th {
    border: 1px solid #ddd;
    padding: 5px;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
.comment-reply-link,
 a.button, input[type="button"],
 input[type="reset"],
 input[type="submit"] {
    background: #009a82 none repeat scroll 0 0;
    border: medium none;
    color: #ffffff;
    font-size: 15px;
    line-height: 1.5;
    padding: 5px 15px;
}


button:hover,
.comment-reply-link,
a.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background-color: #009a82 ;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    border-color: #aaa #bbb #bbb;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
select {
    color: #666;
    border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
    color: #111;
    outline:none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"]{
    padding: 10px;
}

select {
    width: 100%;
    padding:5px;
}

textarea {
    padding:10px 20px;
    width: 100%;
}

.no-widget-content {
    padding: 40px 0 20px 0;
    text-align: center;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

a {
    color: #009a82 ;
    text-decoration: inherit;
}

a:visited {
    color: #009a82 ;
}

a:hover,
a:focus,
a:active {
    color:#009a82;
}

a:focus {
    outline:inherit;
}

a:hover,
a:active {
    outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
#main-nav {
    display: block;
    float: right;
    transition: all 0.5s ease-in-out 0s;
    width: auto;
}

.enabled-sticky-primary-menu #main-nav.fixed {
    box-shadow: 0 0 3px #aaaaaa;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.main-navigation ul {
    display: block;
    margin: 0;
    padding: 0;
	float:right;
	margin-top:22px;
}

.main-navigation ul ul {
    background-color: #ffffff;
    box-shadow: 0 1px 2px;
    left: -9999px;
    margin: 0;
    min-width: 200px;
    opacity: 0;
    position: absolute;
    top: 34px;
    transition: opacity 0.4s ease-in-out 0s;
    z-index: -9999;
}

.main-navigation ul ul ul {
    left:100%;
    top: 0
}

.main-navigation li {
    position: relative;
    display: inline-block;
    margin-bottom:0;
    float: left;
}

.main-navigation ul > li:hover > ul {
    opacity: 1;
    left:0;
    z-index: 9999;
}

.main-navigation ul ul ul ul  {
    display: none;
}
.main-navigation ul ul ul li:hover > ul {
    display: block;
}
.main-navigation ul ul li:hover > ul {
    opacity: 1;
    left:100%;

}
.main-navigation li li {
    float: none;
    display: block;
}

.main-navigation ul li li:first-child > a {
    border-left: none;
}

.main-navigation ul li a {
    color: #222222;
    display: block;
    font-size: 16px;
    font-weight: normal;
    padding: 0px 10px 10px 10px;
    position: relative;
	margin:0px 10px;
    z-index: 99;
}

.main-navigation ul ul a {
    border-bottom: 1px solid #ddd;
    border-left: medium none;
    border-right: medium none;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.18) inset;
    font-size: 14px;
    height: auto;
    padding: 9px 15px;
    text-align: left;
    width: 100%;
	margin:0;
}

.main-navigation ul li.menu-item-has-children > a::after, .main-navigation ul li.page_item_has_children > a::after {
    content: "";
    font-family: FontAwesome;
    margin-left: 10px;
    margin-right: 0;
    position: absolute;
    right: 10px;
    top: 0;
}

.main-navigation ul li li.menu-item-has-children > a::after,
.main-navigation ul li li.page_item_has_children > a::after {
    content: "\f105";
    top: 10px;
}

.main-navigation ul li.menu-item-has-children a,
.main-navigation ul li.page_item_has_children a {
    padding-right: 30px;
}

.main-navigation li a:hover,
.main-navigation li.current-menu-item a,
.main-navigation li.current_page_item a,
.main-navigation li:hover > a {
    background: transparent;
    color: #222;
	border-bottom:2px solid #28af97;
}

.main-navigation ul ul li:hover a{
	border-bottom:1px solid #28af97;
}

.main-navigation .menu-toggle,
.main-navigation .dropdown-toggle {
    display: none;
}
#mobile-trigger {
  display: none;
}
#mobile-menu {
  display: none;
}

/*comment and post navigation*/

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous,
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next,
#infinite-handle span {
    background:#009a82 ;
    float: left;
    padding: 5px 15px;
    width: auto;
    line-height: 1.5;
}

#infinite-handle span {
    font-size: 1.5;
    font-size: 15px;
    color: #fff;
}
#infinite-handle{
	margin-bottom: 20px;
	height: auto;
	overflow: hidden;
}
.comment-navigation .nav-previous:hover,
.posts-navigation .nav-previous:hover,
.post-navigation .nav-previous:hover,
.comment-navigation .nav-next:hover,
.posts-navigation .nav-next:hover,
.post-navigation .nav-next:hover,
 #infinite-handle span:hover {
    background:#009a82;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;

}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;

}

.comment-navigation .nav-previous::before,
.posts-navigation .nav-previous::before,
.post-navigation .nav-previous::before {
    content: "\f100";
    display: inline-block;
    font-family: FontAwesome;
    margin-right: 5px;
    color: #fff;
}

.comment-navigation .nav-next::after,
.posts-navigation .nav-next::after,
.post-navigation .nav-next::after {
    content: "\f101";
    display: inline-block;
    font-family: FontAwesome;
    margin-left: 5px;
    color: #fff;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}
.nav-links .nav-previous a,
.nav-links .nav-next a{
    color: #fff;
}
.nav-links{
    border-top: medium none;
    margin-bottom: 20px;
    padding: 20px 0;
    overflow: hidden;
}

.nav-links .page-numbers {
    border: 1px solid;
    padding: 5px 10px;
}

.nav-links .page-numbers.current,.nav-links a.page-numbers:hover {
    background: #009a82 none repeat scroll 0 0;
    border-color: #009a82 ;
    color: #ffffff;
}
.nav-links .page-numbers.dots {
    border: none;
}
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;/* It should be ablolute */
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important; /* It should be clip auto */
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 15px;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 15px;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.alignnone{
    clear: both;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 15px;

}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

.clear-fix::before,
.clear-fix::after,
.entry-content::before,
.entry-content::after,
.comment-content::before,
.comment-content::after,
.site-header::before,
.site-header::after,
.site-content::before,
.site-content::after,
.site-footer::before,
.site-footer::after,
#home-page-widget-area::after,
#home-page-widget-area::before,
#featured-slider::after,
#featured-slider::before {
    content: "";
    display: table;
}

.clear-fix::after,
.entry-content::after,
.comment-content::after,
.site-header::after,
.site-content::after,
.site-footer::after {
    clear: both;
}


/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
    margin:30px 0 0;
}
.widget:first-child {
    margin: 0;
}

/* Make sure select elements fit in widgets. */

.widget select {
    max-width: 100%;
}
#home-page-widget-area .widget-title {
    border-left: 4px double #009a82 ;
    color: #222222;
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 35px;
    overflow: hidden;
    padding-left: 17px;
    text-align: left;
	width:100%;
}
#home-page-widget-area .widget-title span::after {
    background-color: #ddd;
    content: "";
    height: 1px;
    position: absolute;
    top: 0;
    width: 1000px;
    left: 100%;
    margin-left: 30px;
    top: 46%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
    display: block;
}

.hentry {
    margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.entry-meta > span,
.entry-footer > span,
.single-post-meta > span {
    margin: 0 10px 0 0;
}

.entry-meta > span a, .single-post-meta > span a, .entry-footer > span a {
    color: #686868;
    font-style: italic;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 15px 0 0;
}

.entry-meta > span::before,
.entry-footer > span::before,
.single-post-meta > span::before {
    display: inline-block;
    font-family: FontAwesome;
    height: 15px;
    margin-right:8px;
    content: "";
    color:#27a088;
}

.entry-meta .byline .author.vcard {
    margin-left: -4px;
}

.entry-footer span {
    margin-right: 15px;
}

span.comments-link::before {
    content: "\f086";
}

.entry-meta .posted-on::before,
.single-post-meta .posted-on::before {
    content: "\f073 ";
}

.entry-footer > .cat-links::before {
    content: "\f07c";
}

.entry-meta .byline::before,
.single-post-meta .byline::before {
    content: "\f007";
}

.entry-footer .edit-link::before{
    content: "\f044";
}

.entry-footer .tags-links::before{
    content: "\f02c";
}


/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.authorbox .author-avatar {
    float: left;
    margin: 5px 15px 10px 0;
}
.authorbox {
    background:#e6ffff;
    border: 1px solid #dddddd;
    margin-top: 20px;
    overflow: hidden;
    padding: 15px;
}

.authorbox.no-author-avatar .author-info {
    margin-left: 0;
}

.authorbox .author-bio-posts-content {
    margin-top: 10px;
}

.authorbox .author-bio-posts-content p {
    margin: 0;
}

.authorbox .author-bio-posts-content ul {
    list-style-position: inside;
    margin: 0;
}

#respond {
    clear: both;
    display: block;
    float: left;
    width: 97%;
}

#commentform label {
    display: inline-block;
    width: 100px;
}

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

.comments-area form#commentform p {
    float: left;
    width: 33.33%;
}

.comments-area #commentform p.comment-notes,
.comments-area #commentform p.comment-form-comment {
    width: 100%;
}

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

.comment-form {
    margin: 0 -15px;
}

.comments-area form#commentform p.logged-in-as ,
.comments-area form#commentform p{
    padding: 0 15px;
}
.comment-form-author input,
.comment-form-email input,
.comment-form-url input{
    width: 100%;
}
#tab-reviews .comment-form-author,
#tab-reviews .comment-form-email,
#tab-reviews .comment-form-url{
    width: 50%;
}

.comments-area form#commentform p.logged-in-as {
    padding: 0 15px;
    width: 100%;
}

.comment-form-author,
.comment-form-email,
.comment-form-url{
    width: 33.33%;
    float: left;
}

.comment-list li.comment::after {
    content: inherit;
    display: none;
}

.comment-list li{
    padding-left: 0;
}

.comment {
    background-position: 0 -74px;
    display: block;
    float: left;
    width: 100%;
}

ol.comment-list {
    border-radius: 5px;
    float: left;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    overflow: inherit;
    padding: 0;
    width: 100%;
}

ol.comment-list .children {
    border: medium none;
    float: left;
    margin: 15px 0 15px 15px;
    width: 98%;
}

ol.comment-list li {
    list-style: outside none none;
    margin-bottom: 15px;
}

.comment .comment-body {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 0;
    clear: both;
    display: block;
    float: left;
    margin-top: 5px;
    padding: 10px 30px 10px 70px;
    position: relative;
    text-align: left;
    width: 100%;
}

.comment-author.vcard {
    font-size: 20px;
    margin-bottom: 5px;
}

.comment-list .children {
    background-position: left 20px;
    background-repeat: no-repeat;
    border-left: 1px solid rgb(238, 238, 238);
    margin-left: 0;
    padding-left: 40px;
}

.comment-list li.comment > div img.avatar {
    left: 29px;
    position: absolute;
    top: 29px;
}

#comment-form-title {
    font-size: 24px;
    padding-bottom: 10px;
}

.vcard .avatar {
    float: left;
    margin: 7px 15px 15px 0;
}

.comment-metadata {
    font-size: 13px;
    font-style: italic;
    line-height: 16px;
    margin-bottom: 10px;
}

.comment-reply-link {
    color: #ffffff;
    display: inline-block;
    float: none;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 10px;
    padding: 1px 15px 3px;
    border-radius: 2px;
}

a.comment-reply-link:hover {
    color: #fff;
}

.form-allowed-tags code {
    white-space: inherit;
    word-wrap: break-word;
}

.comment-respond label {
    display: block;
    font-weight: normal;
}

.comments-title {
    font-weight: normal;
    margin: 25px 0 0;
}

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

#commentform label {
    display: inline-block;
    width: 100px;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}


/*--------------------------------------------------------------
# Custom By Manesh
--------------------------------------------------------------*/

#page {
    /*background-color: #fff;*/
    position: relative;
    margin: 0 auto;

}

.site-layout-boxed #page {
    box-shadow: 0 0 1px #999999;
    width: 1255px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.inner-wrapper {
    margin-left: -15px;
    margin-right: -15px;
}

.v-center{
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.home #content {
	padding:0px;
}

.home #content #primary,
.home #content #sidebar-primary{
    padding-top: 40px;
    padding-bottom: 15px;
}

/*--------------------------------------------------------------
##  Header Style By Manesh
--------------------------------------------------------------*/
.main-header {
	float:left;
	width:100%;
}

.main-header {
	padding-top:10px;
	padding-bottom:10px;
	position:relative;
}

.custom-logo-link,
.site-logo-link,
#site-identity {
    float: left;
    margin-right: 15px;
}

.custom-logo-link,.site-logo-link {
    max-width: 300px;
}

.site-info a{
    color: #fff;
}

.site-header {
    position: relative;
    background-color: #fff;
}
.site-title > a {
    color: #222222;
}
.site-title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0;
       font-family: 'Raleway', sans-serif;

}
.site-branding {
    float: left;
    margin-right: 30px;
    margin-top: 10px;
	position:relative;
	z-index:9999;
}
.site-description {
    color: #666666;
    font-size: 15px;
    font-style: inherit;
    margin-bottom: 10px;
}
.right-head {
    float: right;
    padding-top: 20px;
}

.social-links {
    float: right;
}

.search-box {
    float: right;
    position: relative;
}

.search-box > a {
    background: #009a82 none repeat scroll 0 0;
    color: #ffffff;
    display: block;
    padding: 6.2px 8.7px;
}

.search-box > a i {
    font-size: 17px;
}

.search-box > a:hover {
    color: #fff;
    background-color: #009a82;
}

.search-box .search-box-wrap {
    background: #ffffff none repeat scroll 0 0;
    top: 45px;
    box-shadow: 0 1px 2px;
    display: none;
    padding: 10px;
    position: absolute;
    right: 7%;
    width: 300px;
    z-index: 9999;
}

.search-box .search-box-wrap {
    right: 3%;
    width: 300px;
}

.search-form input.search-field {
    background: #f9f9f9;
    padding: 10px 9% 10px 10px;
    width: 87%;
    height: 22px;
}

.search-form input.search-field:focus {
    background: #ebffff;
}

.search-submit {
    border-radius: 0 ;
    padding: 7.3px 20px;
    position: absolute;
    right: 0;
    top: 0;
    height: 44px;
}

.search-form {
    position: relative;
}

.search-form label{
    float: left;
}

.top-header .menu-social-menu-container  ul {
	list-style:none;
}

.top-header {
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px solid #ddd;
}

.top-header,
.top-header-wrap {
	float:left;
	width:100%;
}
.top-header .address,
.top-header .telephone,
.top-header .email,
.top-header .opening-hours{
	float:left;
	margin:7px 15px 0px 15px;
}

.top-header .email a {
	color:#686868;
}

.top-header .address {
	margin-left:0px;
}

.top-header .menu-social-menu-container {
	float:right;
}

/* menu icon starts */

/* Icon */

#nav-icon {
  width: 60px;
  height: 25px;
  display: block;
  position: absolute;
  top: 33px;
  right:0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 75%;
  background: #009a82;
  border-radius: 9px;
  opacity: 1;
  right: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon */

#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 21px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.mm-opening #nav-icon span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 8px;
  left: 8px;
}

.mm-opening #nav-icon span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.mm-opening #nav-icon span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 40px;
  left: 8px;
}

/* menu icon ends */



/*--------------------------------------------------------------
## Social Links Style By Manesh
--------------------------------------------------------------*/

.business_era_widget_social {
    clear: both;
    overflow: hidden;
}

.business_era_widget_social ul {
    margin: 0;
}

.business_era_widget_social li a,
.top-header .menu-social-menu-container  ul li a {
    border: 1px solid #bababa;
    display: inline-block;
    height: 33px;
    line-height: 1.7;
    margin-right: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 33px;
}

.business_era_widget_social li,
.top-header .menu-social-menu-container  ul li {
    display: block;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.widget-area .business_era_widget_social li,
#footer-widgets .business_era_widget_social li {
    padding: 0;
}

.widget-area .business_era_widget_social li::before,
#footer-widgets .business_era_widget_social li::before {
    display: none;
}

.business_era_widget_social ul li a::before {
    font-size: 18px;
}

.business_era_widget_social li a i {
    color:#cacad8;
    font-size: 18px;
    font-weight: normal;
}

.business_era_widget_social ul li a::before,
.top-header .menu-social-menu-container  ul li a::before {
    color: #8c8c8c;
    content: "\f0c1";
    display: block;
    font-family: FontAwesome;
    font-weight: normal;
    line-height: 1.7;
}

.top-header .menu-social-menu-container  ul li a::before {
	line-height:2.1;
}

.business_era_widget_social ul li a:hover,
.top-header .menu-social-menu-container  ul li a:hover {
    background-color: #009a82;
    border: 1px solid rgba(0, 0, 0, 0);
    -moz-transition: all 0.4s ease-out 0s;
    -webkit-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

.business_era_widget_social ul li a:hover::before,
.top-header .menu-social-menu-container  ul li a:hover::before {
    color: #fff;
}

.business_era_widget_social ul li a[href*="facebook.com"]::before,
.top-header .menu-social-menu-container  ul li a[href*="facebook.com"]::before{
    content: "\f09a";
}

.business_era_widget_social ul li a[href*="twitter.com"]::before,
.top-header .menu-social-menu-container  ul li a[href*="twitter.com"]::before{
    content: "\f099";
}

.business_era_widget_social ul li a[href*="linkedin.com"]::before,
.top-header .menu-social-menu-container  ul li a[href*="linkedin.com"]::before{
    content: "\f0e1";
}

.business_era_widget_social ul li a[href*="plus.google.com"]::before,
.top-header .menu-social-menu-container  ul li a[href*="plus.google.com"]::before{
    content: "\f0d5";
}

.business_era_widget_social ul li a[href*="youtube.com"]::before,
.top-header .menu-social-menu-container  ul li a[href*="youtube.com"]::before {
    content: "\f167";
}

.business_era_widget_social ul li a[href*="dribbble.com"]::before,
.top-header .menu-social-menu-container  ul li a[href*="dribbble.com"]::before {
    content: "\f17d";
}

.business_era_widget_social ul li a[href*="pinterest.com"]::before,
.top-header .menu-social-menu-container  ul li a[href*="pinterest.com"]::before {
    content: "\f0d2";
}

.business_era_widget_social ul li a[href*="bitbucket.org"]::before,
.top-header .menu-social-menu-container  ul li a[href*="bitbucket.org"]::before {
    content: "\f171";
}

.business_era_widget_social ul li a[href*="github.com"]::before,
.top-header .menu-social-menu-container  ul li a[href*="github.com"]::before {
    content: "\f113";
}

.business_era_widget_social ul li a[href*="codepen.io"]::before,
.top-header .menu-social-menu-container  ul li a[href*="codepen.io"]::before {
    content: "\f1cb";
}

.business_era_widget_social ul li a[href*="flickr.com"]::before,
.top-header .menu-social-menu-container  ul li a[href*="flickr.com"]::before {
    content: "\f16e";
}

.business_era_widget_social ul li a[href$="/feed/"]::before,
.top-header .menu-social-menu-container  ul li a[href$="/feed/"]::before {
    content: "\f09e";
}

.business_era_widget_social ul li a[href*="foursquare.com"]::before,
.top-header .menu-social-menu-container  ul li a[href*="foursquare.com"]::before {
    content: "\f180";
}

.business_era_widget_social ul li a[href*="instagram.com"]::before,
.top-header .menu-social-menu-container  ul li a[href*="instagram.com"]::before {
    content: "\f16d";
}

.business_era_widget_social ul li a[href*="tumblr.com"]::before,
.top-header .menu-social-menu-container  ul li a[href*="tumblr.com"]::before {
    content: "\f173";
}

.business_era_widget_social ul li a[href*="reddit.com"]::before,
.top-header .menu-social-menu-container  ul li a[href*="reddit.com"]::before {
    content: "\f1a1";
}

.business_era_widget_social ul li a[href*="vimeo.com"]::before,
.top-header .menu-social-menu-container  ul li a[href*="vimeo.com"]::before {
    content: "\f194";
}

.business_era_widget_social ul li a[href*="digg.com"]::before,
.top-header .menu-social-menu-container  ul li a[href*="digg.com"]::before {
    content: "\f1a6";
}

.business_era_widget_social ul li a[href*="twitch.tv"]::before,
.top-header .menu-social-menu-container  ul li a[href*="twitch.tv"]::before {
    content: "\f1e8";
}

.business_era_widget_social ul li a[href*="stumbleupon.com"]::before,
.top-header .menu-social-menu-container  ul li a[href*="stumbleupon.com"]::before {
    content: "\f1a4";
}

.business_era_widget_social ul li a[href*="delicious.com"]::before,
.top-header .menu-social-menu-container  ul li a[href*="delicious.com"]::before {
    content: "\f1a5";
}

.business_era_widget_social ul li a[href*="mailto:"]::before,
.top-header .menu-social-menu-container  ul li a[href*="mailto:"]::before {
    content: "\f0e0";
}
.business_era_widget_social ul li a[href*="soundcloud.com"]::before,
.top-header .menu-social-menu-container  ul li a[href*="soundcloud.com"]::before{
    content: "\f1be";
}
.business_era_widget_social ul li a[href*="wordpress.org"]::before,
.top-header .menu-social-menu-container  ul li a[href*="wordpress.org"]::before {
    content: "\f19a";
}
.business_era_widget_social ul li a[href*="wordpress.com"]::before,
.top-header .menu-social-menu-container  ul li a[href*="wordpress.com"]::before {
    content: "\f19a";
}

.business_era_widget_social ul li a[href*="jsfiddle.net"]::before,
.top-header .menu-social-menu-container  ul li a[href*="jsfiddle.net"]::before {
    content: "\f1cc";
}

.business_era_widget_social ul li a[href*="tripadvisor.com"]::before,
.top-header .menu-social-menu-container  ul li a[href*="tripadvisor.com"]::before {
    content: "\f262";
}

.business_era_widget_social ul li a[href*="foursquare.com"]::before,
.top-header .menu-social-menu-container  ul li a[href*="foursquare.com"]::before {
    content: "\f180";
}

.business_era_widget_social ul li a[href*="angel.co"]::before,
.top-header .menu-social-menu-container  ul li a[href*="angel.co"]::before {
    content: "\f209";
}

.business_era_widget_social ul li a[href*="slack.com"]::before,
.top-header .menu-social-menu-container  ul li a[href*="slack.com"]::before {
    content: "\f198";
}

/*social links hover effect */

.business_era_widget_social ul li a[href*="facebook.com"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="facebook.com"]:hover {
    background-color: #3b5998;
}

.business_era_widget_social ul li a[href*="twitter.com"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="twitter.com"]:hover {
    background-color: #00aced;
}

.business_era_widget_social ul li a[href*="plus.google.com"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="plus.google.com"]:hover {
    background-color: #dd4b39;
}

.business_era_widget_social ul li a[href*="/feed/"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="/feed/"]:hover  {
    background-color: #dc622c;
}

.business_era_widget_social ul li a[href*="wordpress.org"]:hover,
.business_era_widget_social ul li a[href*="wordpress.com"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="wordpress.org"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="wordpress.com"]:hover{
    background-color: #45bbe6;
}

.business_era_widget_social ul li a[href*="github.com"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="github.com"]:hover {
    background-color: #4183c4;
}

.business_era_widget_social ul li a[href*="linkedin.com"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="linkedin.com"]:hover {
    background-color: #007bb6;
}

.business_era_widget_social ul li a[href*="pinterest.com"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="pinterest.com"]:hover {
    background-color: #cb2027;
}

.business_era_widget_social ul li a[href*="flickr.com"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="flickr.com"]:hover {
    background-color: #ff0084;
}

.business_era_widget_social ul li a[href*="vimeo.com"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="vimeo.com"]:hover {
    background-color: #aad450;
}

.business_era_widget_social ul li a[href*="youtube.com"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="youtube.com"]:hover {
    background-color: #bb0000;
}

.business_era_widget_social ul li a[href*="instagram.com"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="instagram.com"]:hover {
    background-color: #517fa4;
}

.business_era_widget_social ul li a[href*="dribbble.com"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="dribbble.com"]:hover {
    background-color: #ea4c89;
}

.business_era_widget_social ul li a[href*="skype.com"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="skype.com"]:hover {
    background-color: #12a5f4;
}

.business_era_widget_social ul li a[href*="digg.com"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="digg.com"]:hover {
    background-color: #333;
}

.business_era_widget_social ul li a[href*="codepen.io"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="codepen.io"]:hover {
    background-color: #000;
}

.business_era_widget_social ul li a[href*="reddit.com"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="reddit.com"]:hover {
    background-color: #ff4500;
}

.business_era_widget_social ul li a[href*="mailto:"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="mailto:"]:hover {
    background-color: #1d62f0;
}

.business_era_widget_social ul li a[href*="foursquare.com"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="foursquare.com"]:hover {
    background-color: #f94877;
}

.business_era_widget_social ul li a[href*="stumbleupon.com"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="stumbleupon.com"]:hover {
    background-color: #eb4924;
}

.business_era_widget_social ul li a[href*="twitch.tv"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="twitch.tv"]:hover {
    background-color: #6441a5;
}

.business_era_widget_social ul li a[href*="tumblr.com"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="tumblr.com"]:hover {
    background-color: #32506d;
}

.business_era_widget_social ul li a[href*="foursquare.com"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="foursquare.com"]:hover {
    background-color: #f94877;
}

.business_era_widget_social ul li a[href*="stumbleupon.com"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="stumbleupon.com"]:hover {
    background-color: #eb4924;
}

.business_era_widget_social ul li a[href*="twitch.tv"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="twitch.tv"]:hover {
    background-color: #6441a5;
}

.business_era_widget_social ul li a[href*="tumblr.com"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="tumblr.com"]:hover {
    background-color: #32506d;
}

.business_era_widget_social ul li a[href*="soundcloud.com"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="soundcloud.com"]:hover {
    background-color: #ff5500;
}

.business_era_widget_social ul li a[href*="wordpress.org"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="pinterest.com"]:hover {
    background-color:#45bbe6;
}

.business_era_widget_social ul li a[href*="jsfiddle.net"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="jsfiddle.net"]:hover {
    background-color:#4679bd;
}

.business_era_widget_social ul li a[href*="tripadvisor.com"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="tripadvisor.com"]:hover {
    background-color:#86c171;
}

.business_era_widget_social ul li a[href*="foursquare.com"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="foursquare.com"]:hover {
    background-color:#2d5be3;
}

.business_era_widget_social ul li a[href*="angel.co"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="angel.co"]:hover {
    background-color:#000;
}

.business_era_widget_social ul li a[href*="slack.com"]:hover,
.top-header .menu-social-menu-container  ul li a[href*="slack.com"]:hover {
    background-color:#56b68b;
}

/*--------------------------------------------------------------
## Main slider Style
--------------------------------------------------------------*/

#featured-slider {
    overflow: hidden;
    position: relative;
    z-index: 99;
}

#main-slider {
    color: #686868;
    clear: both;
    position: relative;
    text-align: center;
	height:76vh !important;

}

#main-slider article.cycle-slide {
	height:76vh;
}

#main-slider article.cycle-slide a,
#main-slider article.cycle-slide a img {
	float:left;
	width:100%;
}



#featured-slider .overlay-disabled .cycle-caption {
    padding: 30px;
}
#featured-slider .overlay-disabled h3 {
    margin-bottom: 15px;
}
#main-slider img {
    width: 100%;
    vertical-align: middle;
}

#main-slider .cycle-slide {
    width: 100%;
}

#main-slider article.first {
    display: block;
}

#main-slider article {
    display: none;
}

#main-slider .cycle-slideshow {
    margin-bottom: 0;
    padding: 0;
}

#main-slider .cycle-caption {
    background: rgba(0, 0, 0, 0.45) none repeat scroll 0 0;
    /*bottom: 20%; */
    /*box-shadow: 0 4px 6px;*/
    height: auto;
    /*left: 25%; */
    overflow: hidden;
    padding: 30px;
   /* position: absolute; */
    text-align: center;
    transition: all 1s ease-in-out 0s;
    width: 50%;
    z-index: 999;
	
	 transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}
#main-slider  .next-prev-wrapper {
    height: 100%;
    margin: 0 auto;
    max-width: 1300px;
    position: relative;
}
#main-slider h3 {
    display: inline-block;
   font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
}
#main-slider h3,
#main-slider h3 a {
    color:#fff;
}

#main-slider p {
    font-size: 17px;
    margin-bottom: 15px;
	color:#fff;
}
.slider-buttons a {
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #ffffff;
    font-size: 15px;
    line-height: 1.5;
    margin: 0 10px 0 0;
    padding: 5px 15px;
    text-transform: uppercase;
}
.custom-button::after {
    content: "";
    display: inline-block;
    font-family: FontAwesome;
    margin-left: 10px;
}
.slider-buttons a:visited {
    color:#fff;
}
/*slider pager box*/
#main-slider .pager-box {
    background-color: #ffffff;
    cursor: pointer;
    display: inline-block;
    float: none;
    height: 6px;
    margin: 3px 5px;
    width: 33px;
    z-index: 99;
}

#main-slider .cycle-pager {
    bottom: 5%;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 999;
}

#main-slider .pager-box.cycle-pager-active {
    background-color: #009a82 ;
    border-color:#fff;
}

/*Slider cycle next / previous*/

#main-slider .cycle-prev,
#main-slider .cycle-next {
    bottom: 45%;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-weight: normal;
    position: absolute;
    text-align: center;
    width: 30px;
    height: 30px;
    z-index: 99999;
    /*line-height:1.3 ;*/
    background-color: #009a82;
	opacity:0;
}
#main-slider .cycle-prev {
    left: 0;
}
#main-slider .cycle-next {
    right: 0;
}
#main-slider .cycle-prev i,
#main-slider .cycle-next i{
	font-size:20px;
	color:#fff;
	line-height:30px;
}

#main-slider .cycle-prev:hover,
#main-slider .cycle-next:hover{
   color: #fff;
   background-color:#009a82 ;
   border-color:#009a82 ;
}

#main-slider:hover .cycle-prev,
#main-slider:hover .cycle-next {
	opacity:1;
}

#main-slider:hover .cycle-prev,
#main-slider:hover .cycle-next,
#main-slider .cycle-prev,
#main-slider .cycle-next {
	-webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}






/*--------------------------------------------------------------
## Main Content Style By Manesh
--------------------------------------------------------------*/

#primary {
    width: 70%;
    padding-left:15px;
    padding-right: 15px;
    float: left;
}

.page-template-page-full-width #primary{
    width: 100%;
}

#content {
    padding: 40px 0 15px 0px;
    clear: both;
}

.home-widgets-disabled #content {
    display: none;
}

#featured-content {
    padding: 40px 0 0;
    clear: both;
}

#primary article {
    border: 1px solid #eeeeee;
    padding: 20px;
}

.home.home-content-not-enabled #content {
    padding: 0;
}

#featured-content{
    float: left;
    width: 100%;
}

.entry-title {
    padding-bottom: 15px;
}

h1.page-title {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #eeeeee;
    color: #666666;
    padding: 5px 20px;
    text-align: center;
}


/*--------------------------------------------------------------
## Sidebar Style By Manesh
--------------------------------------------------------------*/
.sidebar {
    width:30%;
    padding-left:15px;
    padding-right: 15px;
}

.sidebar .widget-title {
    padding-bottom: 15px;
}

#sidebar-primary {
    float: right;
}

.sidebar a.read-more {
    font-size: 13px;
}

.sidebar a.read-more::before {
    font-size: 10px;
}

#sidebar-secondary {
    float: left;
}

.sidebar .widget {
    border: 1px solid #eeeeee;
    margin: 0 0 30px;
    padding: 20px;;
}

.widget-area .widget::after,
.widget-area .widget::before {
    clear: both;
    content: "";
    display: table;
}

.widget-area ul {
    list-style: outside none none;
    padding: 0;
    margin: 0;
}

.widget-area ul ul {
    border-bottom:none;
    padding-bottom: 0;
}

.widget-area ul li {
    padding-bottom: 5px;
    padding-left: 20px;
    padding-top: 5px;
    position: relative;
}

.widget-area ul li::before {
    color: #009a82;
    content: "\f101";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 16px;
    left: 6px;
    position: absolute;
    top: 6px;
	line-height:1;
}
.sidebar a {
    color: #222222;
}
.widget-area ul ul ul ul ul > li {
    padding-left: 0;
}

.widget-area ul ul ul ul ul > li::before {
    left:-20px;
}
.sidebar .search-form input.search-field {
    padding: 10px 4% 10px 10px;
    width: 100%;
    margin: 0;
    height: 22px;
}
.sidebar .search-field {
    float: left;
    margin-right: 5px;
    width: 57%;
}

.widget_calendar caption {
    background: #009a82 none repeat scroll 0 0;
    color: #ffffff;
    padding: 5px;
}

.sidebar .widget-title, .entry-title {
    border-bottom: 3px double #ddd;
    padding-bottom: 15px;
}

/*--------------------------------------------------------------
## Footer Style By Manesh
--------------------------------------------------------------*/

#colophon {
    background-color: #333333;
    border-top: 1px solid #5e5b5b;
    clear: both;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
}

#colophon a {
    color:#ccc;
}

#colophon a:hover {
    color: #fff;
}

#colophon .copyright {
    margin-bottom: 5px;
}

.copyright {
    float: left;
}

.site-info {
    float: right;
}

#colophon .copyright {
    margin-bottom:0;
}

#footer-widgets {
    background-color: #2c2c2c;
    border-top: 4px solid #009a82 ;
    color: #bbbbbb;
    overflow: hidden;
    padding: 30px 0;
}

#footer-widgets .widget-title {
    border-bottom: 1px solid #3c3c3c;
    color: #ffffff;
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
}

#footer-widgets h3.widget-title::after {
    background-color: #009a82 ;
    bottom: -3px;
    content: "";
    display: block;
    height: 4px;
    left: 0;
    position: absolute;
    width: 85px;
}

#footer-widgets ul {
    list-style: none;
    margin: 0;
}


#footer-widgets a {
    color: #dddddd;
}

#footer-widgets ul li {
    padding: 2px 0 3px 23px;
    position: relative;
}

/*
.widget-area ul li::before {

    top: 1px;
}
*/

#footer-widgets .widget-column {
    float: left;
    padding: 0 15px;
    width: 25%;
}

#footer-widgets .footer-active-1 {
    width: 100%;
}

#footer-widgets .footer-active-2 {
    width: 50%;
}

#footer-widgets .footer-active-3 {
    width: 33.33%;
}

#footer-widgets .footer-active-4 {
    width: 25%;
}

.widget-column .widget:first-child {
    margin-top: 0;
}

.widget-column .widget {
    margin-top: 15px;
}

/*Footer Navigation*/

#footer-navigation {
    float: left;
}

#footer-navigation li {
    display: inline-block;
    list-style: outside none none;
}

#colophon .copyright {
    clear: both;
}

#footer-navigation li a {
    display: block;
    padding: 5px 0;
    margin-right: 15px;
}

#footer-navigation ul {
    margin: 0;
}

/*Scrollup Style*/

.scrollup {
    background-color: #0bb79f;
    border-radius: 0;
    bottom: 50px;
    color: #fff;
    display: none;
    float: right;
    line-height: 1.2;
    padding: 1px 10px 4px;
    position: fixed;
    right: 32px;
    text-align: center;
    z-index: 99999;
    transition: all 0.5s ease-in-out 0s;
}

.scrollup:hover {
    background-color: #009a82;
}

.scrollup i {
    font-size: 38px;
    color: #fff;
}

/*--------------------------------------------------------------
##  layout sidebar By Manesh
--------------------------------------------------------------*/

.global-layout-left-sidebar #primary {
    float: right;
}

.three-columns-enabled #primary {
    display: inline-block;
    float: none;
    width: 50%;
}

.global-layout-three-columns #sidebar-primary {
    float: right;
    width: 25%;
}

.global-layout-no-sidebar #primary{
    width: 100%;
}

/*--------------------------------------------------------------
## Inner Pages Style By Manesh
--------------------------------------------------------------*/

/*Basic Breadcrumb */

#breadcrumb {
    background: #222222 none repeat scroll 0 0;
    padding: 7px 0;
    color: #fff;
}
#breadcrumb a {
    color: #dddddd;
}
#breadcrumb .container > div {
    overflow: hidden;
}
.breadcrumb-trail li {
    display: block;
    float: left;
    list-style: outside none none;
    padding-right: 10px;
}
.breadcrumb-trail li.trail-item.trail-end::after {
    display: none;
}
.breadcrumb-trail li::after {
    content: "/";
    margin-left: 10px;
}
.breadcrumb-trail  .trail-items {
    margin: 0;
    padding: 0;
}
/*Error 404 Page*/

section.error-404 {
    text-align: center;
}

#quick-links-404 ul li {
    display: inline-block;
    list-style: outside none none;
}

#quick-links-404 ul li a {
    color: #404040;
    display: block;
    padding: 5px 10px;
}

.error404 #primary {
    width: 100%;
}

/*contact form 7*/

.wpcf7-form {
    max-width: 875px;
}

div.wpcf7 {
    margin: 0 auto;
    padding: 0;
}

.wpcf7 input {
    width: 100%;
}

.wpcf7 input.wpcf7-submit {
    width: auto;
}

/*--------------------------------------------------------------
## Extra css for Pro By Manesh
--------------------------------------------------------------*/

/* Global layout sidebar By Manesh*/

#home-page-widget-area {
    padding: 0px;
    clear: both;
}

#home-page-widget-area  .widget {
    /*margin-top: 0px; */
	margin: 0px;
    padding: 75px 0;
	background-color:transparent;
}

#home-page-widget-area  .widget:first-child {
    margin-top: 0;
}

.business_era_widget_featured_page img {
    border: 1px solid #ddd;
    padding: 5px;
}
/*--------------------------------------------------------------
## service widget / page css By Manesh
--------------------------------------------------------------*/

.business_era_widget_services .services-item {
    padding: 15px;
    transition: background-color 0.5s ease-out 0s;
    display: inline-block;
    vertical-align: top;
    margin-left: -3px;
}

.business_era_widget_services .services-item i {
    background: #009a82 none repeat scroll 0 0;
    border-radius: 30px;
    color: #ffffff;
    float: left;
    font-size: 27px;
    height: 50px;
    line-height: 1.5;
    margin-right: 15px;
    padding-top: 5px;
    text-align: center;
    width: 50px;
}
.services-item-title > a {
    color: #009a82;
    font-weight: 500;
}

.services-item-title {
    display: table;
    font-size: 18px;
    margin-bottom: 5px;
    text-align: left;
}

.services-item > p {
    display: table;
}

.business_era_widget_services .services-column-4 .services-item {
    width: 25%;
}

.business_era_widget_services .services-column-3 .services-item {
    width: 33.33%;
}

.business_era_widget_services .services-column-2 .services-item {
    width: 50%;
}

.business_era_widget_services .services-column-1 .services-item {
    width: 100%;
}





/*--------------------------------------------------------------
## call to action widgets style By Manesh
--------------------------------------------------------------*/

#home-page-widget-area .business_era_widget_call_to_action {
	background-color:#f9f9f9;
    padding: 75px 30px;
    position: relative;
    text-align: center;
    z-index: 999;
}


#home-page-widget-area .business_era_widget_call_to_action .widget-title {
    border: medium none;
    margin-bottom: 5px;
	text-align:center;
}


a.button,
input[type="submit"] {
    color: #ffffff;
    display: inline-block;
	display: inline-block;
    padding: 10px 30px;
	border:2px solid #009a82 ;
    border-radius: 5px;
	
	-webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
	
}

.widget_search input[type="submit"] {
	border-radius:0px;
	line-height:1;
}

a.button:hover,
input[type="submit"]:hover {
	background:#fff;
	color:#009a82;
	
	-webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.sidebar .business_era_widget_call_to_action,
.widget-column .business_era_widget_call_to_action {
    padding: 5px;
}

#home-page-widget-area .with_bg.widget {
	background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

#home-page-widget-area .with_bg.widget .container {
	position:relative;
	z-index:1;
}

#home-page-widget-area .with_bg.widget {
	position:relative;
}

#home-page-widget-area .with_bg.widget:before {
	background:rgba(37, 38, 39, 0.78);
	content:"";
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:0;
}

#home-page-widget-area .with_bg.widget .widget-title,
#home-page-widget-area .with_bg.widget .call-to-action-content p,
.business_era_widget_advance_call_to_action .call-to-action-content  {
	color:#fff;
}

.business_era_widget_call_to_action .cta-wrap {
	display:table;
	width:100%;
}

.business_era_widget_call_to_action .cta-wrap .call-to-action-content {
	display:table-cell;
	width:70%;
	vertical-align:middle;
}

.business_era_widget_call_to_action .cta-wrap .call-to-action-content p {
	margin-bottom:0px;
	line-height:1.5;
}

.business_era_widget_call_to_action .cta-wrap .call-to-action-buttons {
	display:table-cell;
	width:30%;
	vertical-align:middle;
}

/*--------------------------------------------------------------
### Advaneced Business Era About Us widget style
--------------------------------------------------------------*/
#home-page-widget-area  .business_era_widget_page {
	background-color:#f9f9f9;
}

.page-left-section,
.page-right-section {
	width:50%;
}

.page-left-section {
	float:left;
}

.page-right-section {
	float:right;
}


/*--------------------------------------------------------------
### Advaneced recent post widget style By Manesh
--------------------------------------------------------------*/

.business_era_widget_advanced_recent_posts .advanced-recent-posts-item {
    clear: both;
    margin-top: 20px;
    float: left;
    width: 100%;
}

#home-page-widget-area  .widget.business_era_widget_latest_news {
	background:#fff;
}

.business_era_widget_advanced_recent_posts .advanced-recent-posts-item:first-child {
    margin: 0;
}

.business_era_widget_advanced_recent_posts .advanced-recent-posts-title {
    font-size: 15px;
    margin-bottom:0;
}

.business_era_widget_advanced_recent_posts .advanced-recent-posts-date {
    font-style: italic;
    display: block;
    margin-bottom: 3px;
    font-size: 13px;
}

#home-page-widget-area::after,
#home-page-widget-area::before,
#home-page-widget-area .widget::after,
#home-page-widget-area .widget::before {
    display: table;
    clear: both;
    content: "";
}

#footer-widgets .advanced-recent-posts-item {
    border-top: 1px solid #3c3c3c;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding-top: 5px;
}

#footer-widgets .advanced-recent-posts-item:first-child {
    margin: 0;
    padding: 0;
    border: none;
}

/*--------------------------------------------------------------
### Latest News post widget style By Manesh
--------------------------------------------------------------*/

.business_era_widget_latest_news .latest-news-item {
    display: inline-block;
    padding: 0 15px;
    margin-bottom: 15px;
    vertical-align: top;
    margin-left: -3px;
}

.business_era_widget_latest_news .latest-news-item img {
    margin: 0;
}

.business_era_widget_latest_news .latest-news-text-wrap {
    padding:15px 0px;
}

.business_era_widget_latest_news .latest-news-title > a {
    color: #009a82;
}

.business_era_widget_latest_news .latest-news-wrapper {
    position: relative;
    transition: all 0.5s ease 0s;
    border-bottom: 5px solid transparent;

}

.business_era_widget_latest_news .latest-news-wrapper::after {
    bottom: -44px;
    content: "";
    display: block;
    height: 44px;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 99;

}

.business_era_widget_latest_news .latest-news-wrapper:hover::after {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

a.read-more {
    color: #fff;
	background:#009a82;
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid #009a82;
    border-radius: 5px;
	
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

a.read-more:hover {
	background: #fff;
    color: #009a82;
	
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.business_era_widget_latest_news .latest-news-thumb {
    overflow: hidden;
}

.business_era_widget_latest_news .latest-news-thumb a {
	float:left;
	width:100%;
	position:relative;
}

.business_era_widget_latest_news .latest-news-thumb img {
	-webkit-backface-visibility: hidden; 
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

.business_era_widget_latest_news .latest-news-item:hover .latest-news-thumb a img {
	-webkit-transform:scale(1.1);
 	 -moz-transform:scale(1.1);
  	-ms-transform:scale(1.1);
 	 -o-transform:scale(1.1);
  	transform: scale(1.1);
}

.business_era_widget_latest_news .latest-news-item .latest-news-thumb a:before {
	background:rgba(0,0,0,0.45);
	content:"";
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	opacity:0;
	z-index:999;

}

.business_era_widget_latest_news .latest-news-item .latest-news-thumb a:hover:before,
.business_era_widget_latest_news .latest-news-item .latest-news-thumb a:hover:after {
	opacity:1;
	
}

.business_era_widget_latest_news .latest-news-item .latest-news-thumb a:after {
	content:"\f0c1";
	font-family:"FontAwesome";
	font-size:30px;
	color:#fff;
	position:absolute;
	opacity:0;
	z-index:9999;
	
	 transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.business_era_widget_latest_news .latest-news-item .latest-news-thumb a:before,
.business_era_widget_latest_news .latest-news-item .latest-news-thumb a:hover:before,
.business_era_widget_latest_news .latest-news-item .latest-news-thumb a:after,
.business_era_widget_latest_news .latest-news-item .latest-news-thumb a:hover:after,
.business_era_widget_latest_news .latest-news-thumb img,
.business_era_widget_latest_news .latest-news-item:hover .latest-news-thumb a img {
	-webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.business_era_widget_latest_news .latest-news-item img {
    vertical-align: middle;
    margin-bottom: 0;
    width: 100%;
}

.business_era_widget_latest_news .latest-news-title {
    margin-bottom:10px;
	font-size:18px;
	font-weight:500;
	color:#009a82;
}

.business_era_widget_latest_news .latest-news-title:before {
	content:"";
	display:block;
	height:2px;
	width:50px;
	background:#009a82;
	margin-bottom:15px;
} 

.business_era_widget_latest_news .latest-news-meta {
    margin-bottom: 15px;
}

.business_era_widget_latest_news .latest-news-col-3 .latest-news-item {
    width: 33.33%;
}

.business_era_widget_latest_news .latest-news-col-4 .latest-news-item {
    width: 25%;
}

.business_era_widget_latest_news .latest-news-meta > span {
    font-size: 12px;
}

.business_era_widget_latest_news .latest-news-meta .latest-news-comments {
    float: right;
}

.business_era_widget_latest_news .latest-news-col-3 .latest-news-meta > span {
    font-size: 15px;
}

.business_era_widget_latest_news .latest-news-meta > span::before {
    content: "";
    display: inline-block;
    float: left;
    font-family: FontAwesome;
    font-size: 12px;
    height: auto;
    line-height: 1.7;
    margin-right: 7px;
}

.business_era_widget_latest_news .latest-news-meta > span.latest-news-date::before {
    content: "\f073";
}

.business_era_widget_latest_news .latest-news-meta > span.latest-news-comments::before {
    content: "\f086";
}


/*sidebar and footer widget area style*/

#footer-widgets .business_era_widget_latest_news .latest-news-widget .latest-news-item,
.sidebar .business_era_widget_latest_news .latest-news-widget .latest-news-item{
    margin-bottom: 15px;
    width: 100%;
}

/*--------------------------------------------------------------
### Advanced call to action style
--------------------------------------------------------------*/
#home-page-widget-area .business_era_widget_advance_call_to_action {
    background-color: #f9f9f9;
}

#home-page-widget-area .business_era_widget_advance_call_to_action p{
    color: #686868;
}

.business_era_widget_advance_call_to_action .call-to-action-buttons a.cta-button-primary {
	margin-right:15px;
}

.business_era_widget_advance_call_to_action .call-to-action-buttons {
	margin-top:25px;
}


/*--------------------------------------------------------------
### Our Team widget style By Manesh
--------------------------------------------------------------*/
.business_era_widget_our_team  .our-team-item {
    display: inline-block;
    padding: 0 15px;
    text-align: left;
    color: #009a82;
	overflow:hidden;
    vertical-align: top;
    margin-left: -3px;
}

.business_era_widget_our_team  .thumb-summary-wrap {
    position: relative;
}

.business_era_widget_our_team  .our-team-summary {
    background:rgba(51, 51, 51, 0.51) none repeat scroll 0 0;
    bottom: 0;
    color: rgb(255, 255, 255);
    display: none;
    padding: 20px 15px 0;
    position: absolute;
}


.business_era_widget_our_team .our-team-wrapper,
.business_era_widget_our_team .our-team-thumb,
.business_era_widget_our_team  .our-team-thumb img,
.business_era_widget_our_team  .our-team-text-wrap,
.business_era_widget_our_team  .our-team-text-wrap .our-team-position,
.business_era_widget_our_team  .our-team-text-wrap .our-team-email {
    width: 100%;
	float:left;
}

.business_era_widget_our_team .our-team-wrapper,
.business_era_widget_our_team .our-team-thumb {
	overflow:hidden;
}

.business_era_widget_our_team  .our-team-text-wrap .our-team-position,
.business_era_widget_our_team  .our-team-text-wrap .our-team-email a {
	color:#535353;
}

.business_era_widget_our_team  .our-team-social li.team-facebook i{
	color:#385699;
}

.business_era_widget_our_team  .our-team-social li.team-twitter i{
	color:#22CBFF;
}

.business_era_widget_our_team  .our-team-social li.team-gplus i{
	color:#DE4931;
}

.business_era_widget_our_team  .our-team-social li.team-linkedin i{
	color:#006DC0;
}

.business_era_widget_our_team  .our-team-social li.team-instagram i{
	color:#C42A9C;
}

.business_era_widget_our_team  .our-team-thumb img {
	margin-bottom:0px;
	-webkit-backface-visibility: hidden; 
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
	
}

.business_era_widget_our_team  .our-team-thumb img,
.business_era_widget_our_team  .our-team-item:hover .our-team-thumb img {
	-webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
} 

.business_era_widget_our_team  .our-team-item:hover .our-team-thumb img {
	 -webkit-transform:scale(1.1);
 	 -moz-transform:scale(1.1);
  	-ms-transform:scale(1.1);
 	 -o-transform:scale(1.1);
  	transform: scale(1.1);
	
}

.business_era_widget_our_team  .our-team-text-wrap {
    background:transparent;
    margin: 0px auto 10px;
    max-width: 100%;
    padding: 15px 0px;
    position: relative;
    z-index: 999;
}

.business_era_widget_our_team  .our-team-title {
    margin: 0;
	font-size:18px;
	font-weight:500;
}

.business_era_widget_our_team  .our-team-title:before {
	content: "";
    display: block;
    height: 2px;
    width: 50px;
    background: #009a82;
    margin-bottom: 15px;
}

.business_era_widget_our_team  .our-team-title > a {
    color: #009a82;
}

.business_era_widget_our_team  .team-designation {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 7px;
}

.business_era_widget_our_team  .our-team-social li {
	display:inline-block;
	margin: 0px 5px;
	padding-left:0px;
}

.business_era_widget_our_team  .our-team-social li:first-child {
	margin-left:0px;
}

.business_era_widget_our_team  .our-team-social li:before {
	content:"";
	margin:0;
}

.business_era_widget_our_team  .our-team-text-wrap .our-team-position,
.business_era_widget_our_team  .our-team-text-wrap .our-team-email,
.business_era_widget_our_team  .our-team-title {
	margin-bottom:5px;
}

.business_era_widget_our_team .our-team-col-1 .our-team-item {
    width: 100%;
}

.business_era_widget_our_team .our-team-col-2 .our-team-item {
    width: 50%;
}

.business_era_widget_our_team .our-team-col-3 .our-team-item {
    width: 33.33%;
}

.business_era_widget_our_team .our-team-col-4 .our-team-item {
    width: 25%;
}


/*--------------------------------------------------------------
### Portfolio Section style 
--------------------------------------------------------------*/
.business_era_widget_portfolio .portfolio-col-1 .portfolio-item {
    width: 100%;
}

.business_era_widget_portfolio .portfolio-col-2 .portfolio-item {
    width: 50%;
}

.business_era_widget_portfolio .portfolio-col-3 .portfolio-item {
    width: 33.33%;
}

.business_era_widget_portfolio .portfolio-col-4 .portfolio-item {
	width:25%;
} 

.business_era_widget_portfolio .portfolio-item {
	padding-left:15px;
	padding-right:15px;
	display:none;
	margin-bottom:30px;
    margin-left: -3px;
    vertical-align: top;
}

.business_era_widget_portfolio .portfolio-item .portfolio-wrapper,
.business_era_widget_portfolio .portfolio-item .portfolio-thumb,
.business_era_widget_portfolio .portfolio-item .portfolio-thumb img,
.business_era_widget_portfolio .portfolio-item .portfolio-text-wrap,
.business_era_widget_portfolio .portfolio-item .portfolio-thumb a {
	float:left;
	width:100%;
}

.business_era_widget_portfolio .portfolio-item .portfolio-thumb a {
	position:relative;
}

.business_era_widget_portfolio .portfolio-item .portfolio-wrapper,
.business_era_widget_portfolio .portfolio-item .portfolio-thumb {
	overflow:hidden;
}

.business_era_widget_portfolio .portfolio-item .portfolio-thumb img {
	-webkit-backface-visibility: hidden; 
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
	
}

.business_era_widget_portfolio .portfolio-item .portfolio-thumb a:before {
	background:rgba(0,0,0,0.45);
	content:"";
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	opacity:0;
	z-index:999;

}

.business_era_widget_portfolio .portfolio-item .portfolio-thumb a:hover:before,
.business_era_widget_portfolio .portfolio-item .portfolio-thumb a:hover:after {
	opacity:1;
	
}

.business_era_widget_portfolio .portfolio-item .portfolio-thumb a:after {
	content:"\f0c1";
	font-family:"FontAwesome";
	font-size:30px;
	color:#fff;
	position:absolute;
	opacity:0;
	z-index:9999;
	
	 transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}


.business_era_widget_portfolio .portfolio-item .portfolio-thumb img,
.business_era_widget_portfolio .portfolio-item:hover .portfolio-thumb img,
.business_era_widget_portfolio .portfolio-item .portfolio-wrapper,
.business_era_widget_portfolio .portfolio-item:hover .portfolio-wrapper,
.business_era_widget_portfolio .portfolio-item .portfolio-thumb a:before,
.business_era_widget_portfolio .portfolio-item .portfolio-thumb a:after,
.business_era_widget_portfolio .portfolio-item .portfolio-thumb a:hover:before,
.business_era_widget_portfolio .portfolio-item .portfolio-thumb a:hover:after {
	-webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}  

.business_era_widget_portfolio .portfolio-item:hover .portfolio-thumb img {
	 -webkit-transform:scale(1.1);
 	 -moz-transform:scale(1.1);
  	-ms-transform:scale(1.1);
 	 -o-transform:scale(1.1);
  	transform: scale(1.1);

}  


.business_era_widget_portfolio .portfolio-item .portfolio-text-wrap {
	padding:15px 0px;
}

.business_era_widget_portfolio .portfolio-title {
	color: #009a82;
	font-size:18px;
	font-weight:500;
	margin-bottom:0px;
}

.business_era_widget_portfolio .portfolio-title:before {
	content:"";
	display:block;
	height:2px;
	width:50px;
	background:#009a82;
	margin-bottom:15px;
} 

.business_era_widget_portfolio #filter-list {
	margin-bottom:35px;
	float:left;
	width:100%;
	padding-left:15px;
}

.business_era_widget_portfolio #filter-list li {
	float:left;
	cursor:pointer;
	font-family: "Raleway",sans-serif;
	font-weight:500;
	font-size:16px;
	margin-left:15px;
	margin-right:15px;
	padding-left:0px;
}

.business_era_widget_portfolio #filter-list li:first-child {
	margin-left:0px;
}

.business_era_widget_portfolio #filter-list li.active {
	color:#009a82;
}

.business_era_widget_portfolio #filter-list li:before {
	content:"";
	margin:0;
}

/*--------------------------------------------------------------
##  Testimonial widget style
--------------------------------------------------------------*/

#home-page-widget-area .business_era_widget_testimonials {
    background-color: #f9f9f9;
}


#home-page-widget-area .business_era_widget_testimonials #testimonial-slider article .testimonials-caption p,
#home-page-widget-area .business_era_widget_testimonials #testimonial-slider article .testimonials-meta .testimonial-title,
#home-page-widget-area .business_era_widget_testimonials #testimonial-slider article .testimonials-meta .position,
#home-page-widget-area .business_era_widget_testimonials #testimonial-slider article .testimonials-meta .company{
    color: #686868;
}

.business_era_widget_testimonials #testimonial-slider article figure {
	display:inline-block;
	margin:0px;
}

.business_era_widget_testimonials #testimonial-slider,
.business_era_widget_testimonials #testimonial-slider  .testimonials-caption,
.business_era_widget_testimonials #testimonial-slider article .testimonials-meta,
.business_era_widget_testimonials #testimonial-slider article .testimonials-meta .testimonial-title  {
	float:left;
	width:100%;
}

.business_era_widget_testimonials #testimonial-slider {
	text-align:center;
}

#home-page-widget-area .business_era_widget_testimonials .widget-title {
	display:none;
}

.business_era_widget_testimonials #testimonial-slider article {
	padding-left:15px;
	padding-right:15px;	
	text-align:center;
    width: 100%;
}

.business_era_widget_testimonials #testimonial-slider .cycle-pager {
	bottom: 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 999;
}

.business_era_widget_testimonials #testimonial-slider .cycle-pager .pager-box {
    background-color: #ffffff;
    cursor: pointer;
    display: inline-block;
    float: none;
    height: 6px;
    margin: 3px 5px;
    width: 33px;
    z-index: 99;
}

.business_era_widget_testimonials #testimonial-slider .cycle-pager .pager-box.cycle-pager-active {
	background-color:#009a82;
	border-color:#fff;
}


.business_era_widget_testimonials #testimonial-slider article .testimonials-wrap {
	width:70%;
	display:inline-block;
	padding-bottom:50px;
}

.business_era_widget_testimonials #testimonial-slider article figure img {
	display:inline-block;
	border-radius:50%;
	border:2px solid #fff;
}

.business_era_widget_testimonials #testimonial-slider article .testimonials-meta {
	margin-top:20px;
}

#home-page-widget-area .with_bg.business_era_widget_testimonials #testimonial-slider article .testimonials-caption p,
#home-page-widget-area .with_bg.business_era_widget_testimonials #testimonial-slider article .testimonials-meta .testimonial-title,
#home-page-widget-area .with_bg.business_era_widget_testimonials #testimonial-slider article .testimonials-meta .company,
#home-page-widget-area .with_bg.business_era_widget_testimonials #testimonial-slider article .testimonials-meta .position {
	color:#fff;
}

.business_era_widget_testimonials #testimonial-slider article .testimonials-caption p {
	font-style:italic;
	font-size: 17px;
    line-height: 28px;
}

.business_era_widget_testimonials #testimonial-slider article .testimonials-meta .testimonial-title {
	font-weight:600;
	margin-bottom:5px;
}

.business_era_widget_testimonials #testimonial-slider .cycle-next,
.business_era_widget_testimonials #testimonial-slider .cycle-prev {
	position:absolute;
	top:43%;
	height:30px;
	width:30px;
	text-align:center;
	background:#0bb79f;
	display:block;
	margin:0px 15px;
	cursor:pointer;
	z-index:999999;
	opacity:0;
}

.business_era_widget_testimonials #testimonial-slider:hover .cycle-next,
.business_era_widget_testimonials #testimonial-slider:hover .cycle-prev {
	opacity:1;
	
}

.business_era_widget_testimonials #testimonial-slider:hover .cycle-next,
.business_era_widget_testimonials #testimonial-slider:hover .cycle-prev,
.business_era_widget_testimonials #testimonial-slider .cycle-next,
.business_era_widget_testimonials #testimonial-slider .cycle-prev {
	
	-webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.business_era_widget_testimonials #testimonial-slider .cycle-next {
	right:0;
}

.business_era_widget_testimonials #testimonial-slider .cycle-prev {
	left:0;
}

.business_era_widget_testimonials #testimonial-slider .cycle-next i,
.business_era_widget_testimonials #testimonial-slider .cycle-prev i {
	color:#fff;
	font-size:20px;
	line-height:30px;
}

/* Inner Pages Css */
.inner-banner {
	height:45vh;
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center center;
}

/* Contact Us page */
input[type="text"], 
input[type="email"], 
input[type="url"], 
input[type="password"], 
input[type="search"],
textarea, 
select,
span.wpcf7-not-valid-tip {
	margin-top:10px;
}

#footer-widgets .widget_search input[type="search"]{
    margin-top: 0;
}

/* Mean menu css */
.mean-container .mean-bar {
	margin-top:-70px;
	z-index:99;
	background:transparent;
	overflow:hidden;
    padding: 0;
}

.mean-container a.meanmenu-reveal span {
	background:#0bb79f;
}

.mean-container a.meanmenu-reveal {
	color:#0bb79f;
}

.mean-container .mean-nav {
	background:#009a82;
	margin-top:60px;
}

.mean-container .mean-nav ul li a.mean-expand {
	height:27px;
}

.mean-container .mean-nav ul li a.mean-expand:hover {
	background:rgba(12,25,35,0.5);
}

#responsive-nav {
	display:none;
}

.mean-container .mean-nav ul li a {
	width:100%;
	padding-left:30px;
	padding-right:30px;
}



/*--------------------------------------------------------------
##  Media Queries By Manesh
--------------------------------------------------------------*/

/* Smaller than standard 1139 (devices and browsers) */
@media only screen and (max-width:1260px) {
    .site-layout-boxed #page,
    .container {
        width: 97%;
    }


    .sidebar .search-form input.search-field {
        height: 22px;
        margin: 0;
        padding: 10px 0 10px 8%;
        width: 92%;
    }

    .sidebar input[type="submit"] {
        display: block;
        float: left;
        margin-top: 15px;
        position: inherit;
        top: inherit;
        width: 100%;
    }

    .comments-area form#commentform p {
        float: left;
        width: 100%;
    }

    #comments input {
        width: 100%;
    }

    #comments input#submit {
        width: auto;
    }

    #main-slider .cycle-caption {
        visibility: visible;
    }
	
	.business_era_widget_services .services-item {
		min-height:160px;		
	}
  
}

/* Smaller than standard 1024 (devices and browsers) */
@media only screen and (max-width:1023px) {

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 20px;
    }

    h3{
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 15px;
    }

    h6 {
        font-size: 14px;
    }

    .inner-wrapper {
        margin-left: -15px;
        margin-right: -15px;
    }

    #primary,
    .sidebar,
    #colophon,
    #featured-clients {
        padding-left: 15px;
        padding-right: 15px;
    }


    /*Main slider*/


    #main-slider .cycle-slide {
        width: 100%;
    }

    #main-slider .cycle-caption {
        padding:15px;
    }


    td,
    th {
        font-size: 12px;
        padding: 2px;
        text-align: center;
    }

    .main-navigation ul li a {
        font-size: 14px;
        padding: 10px;
		margin:0px 6px;

    }

    .main-navigation ul  ul {
        top: 40px;
    }

    .main-navigation ul ul a {
        padding-bottom: 5px;
        padding-top: 5px;
    }

/*--------------------------------------------------------------
 responsive css By Manesh
--------------------------------------------------------------*/

    .business_era_widget_advanced_recent_posts img {
        float: none;
    }

    #featured-content article,
    .business_era_widget_latest_news .latest-news-item,
    .services-item ,
    .business_era_widget_services .services-item{
        padding: 15px 15px;
    }

    .business_era_widget_latest_news .latest-news-meta .latest-news-comments {
        clear: both;
        display: block;
        float: none;
    }

    .business_era_widget_testimonials .testimonial-widget {
        margin: 0;
    }



/*--------------------------------------------------------------
 responsive css By Manesh
--------------------------------------------------------------*/

    .business_era_widget_advanced_recent_posts img {
        float: none;
    }

    #featured-content article,
    .business_era_widget_latest_news .latest-news-item,
    .services-item ,
    .business_era_widget_services .services-item{
        padding: 15px 15px;
    }

    .business_era_widget_latest_news .latest-news-meta .latest-news-comments {
        clear: both;
        display: block;
        float: none;
    }

    .business_era_widget_testimonials .testimonial-widget {
        margin: 0;
    }
	
#main-slider h3 {
	font-size:25px;
}

.main-navigation ul li.menu-item-has-children > a::after, 
.main-navigation ul li.page_item_has_children > a::after {
	top:10px;
}

}
/*--------------------------------------------------------------
 Responsive css By Manesh
--------------------------------------------------------------*/

/* All Mobile Sizes (devices and browser) */

@media only screen and (max-width:900px) {


  body{
        padding-top: 0;
      }

   .enabled-sticky-primary-menu.sidr-open #masthead.fixed {
        position: relative;
        top: 89px;
    }
    .enabled-sticky-primary-menu  #masthead.fixed {
        top: 39px;
    }
    .enabled-sticky-primary-menu.admin-bar #masthead.fixed {
        top: 87px;
    }

    .sidr-open #mobile-trigger {
      transition: inherit;
    }
	
	#main-nav {
		display:none;		
	}
	
	#responsive-nav {
		display:block;
	}

    #mobile-trigger {
        background: #000000 none repeat scroll 0 0;
        display: block;
        left: 0;
        padding: 5px;
        position: fixed;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 999999;
    }
    .logged-in #mobile-trigger {
        top: 45px;
    }
    .sidr-open #mobile-trigger {
        padding-left: 275px;
        text-align: left;
        transition: inherit;
    }

    #masthead {
        text-align: center;
    }

    #mobile-trigger i {
        background-color: #009a82 ;
        border: 2px solid #fffffe;
        box-shadow: 0 1px 2px #000000;
        color: #ffffff;
        font-size: 21px;
        padding: 6px 8px;
    }
    .site-layout-boxed #page {
        margin-top: 70px;
    }
    .sidr ul li ul li a, .sidr ul li ul li span {
        line-height: 1.5;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-top: 10px !important;
    }

    .business_era_widget_latest_news .latest-news-col-4 .latest-news-item {
        width: 50%;
    }
    .business_era_widget_teams .our-team-summary {
        display: none!important;
    }
    .business_era_widget_services .services-column-4 .services-item {
        width: 50%;
    }


    .site-layout-boxed #page {
        padding-top: 0;
    }
    .site-logo-link, .custom-logo-link {
        float: left;
        margin-right: 15px;
        max-width: inherit;
    }
    #site-identity {
        clear: inherit;
        float: left;
    }
	
	.top-header .menu-social-menu-container  ul li {
		margin-right:4px;
		margin-bottom:0px;		
	}
	
	.top-header .address, 
	.top-header .telephone, 
	.top-header .email, 
	.top-header .opening-hours {
		margin-left:4px;
		margin-right:4px;	
		margin-top:2px;	
	}
	
	 .top-header .menu-social-menu-container  ul li a {
			height:25px;
			width:25px;	 
		}
	
	.top-header .menu-social-menu-container  ul li a::before {
		font-size:13px;		
	}
	
	.top-header .menu-social-menu-container  ul li a::before {
		line-height:25px;		
	}
	
	.business_era_widget_services .services-column-3 .services-item {
		min-height:auto;
		width:50%;		
	}
	
	#main-slider .cycle-caption {
		width:65%;		
	}
	
	
	#nav-icon {
		display:block;		
	}
	
	.site-branding {
		text-align:left;		
	}
	
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width:767px) {

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 20px;
    }

    h3{
        font-size: 18px;
    }

    h4 {
        font-size:16px;
    }

    h5 {
        font-size: 15px;
    }

    h6 {
        font-size: 14px;
    }

   .site-layout-boxed #page .container  {
        width: 100%;
        padding: 0 15px;
    }

    .widget.business_era_widget_call_to_action {
        display: block;
        margin-bottom: 25px;
        padding: 15px;
    }

    .site-layout-boxed #page {
        width: 90%;
        padding: 0 15px;
    }

    .container {
        width: 90%;
        padding: 0 15px;
    }

    .site-layout-boxed #featured-slider,
    .site-layout-boxed #footer-widgets,
    .site-layout-boxed #colophon {
        margin-left: -15px;
        margin-right: -15px;
    }

    #featured-slider, #footer-widgets, #colophon {
        margin-left: 0;
        margin-right: 0;
    }

    #home-page-widget-area .widget-title span {
        margin-bottom: 0;
    }


    .site-branding {
        text-align: left;
    }

    .site-content {
        padding-top: 15px;
    }

    .business_era_widget_latest_news .our-team-item {
        width: 50%;
    }



    /*featured slider style*/

    #main-slider .cycle-caption h3 {
        font-size: 19px;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 6px;
    }

    #main-slider .cycle-prev::after,
    #main-slider .cycle-next::after {
        font-size: 23px;
        padding: 15px;
    }

    #main-slider .cycle-caption {
        max-width: 66%;
    }

    #main-slider .cycle-prev::after, #main-slider .cycle-next::after {
        font-size: 23px;
        padding: 5px 10px;
    }

    #main-slider .cycle-caption p {
        font-size: 13px;
        overflow: hidden;
        padding: 10px;
    }

    #main-slider .cycle-pager {
        bottom: 0;
        left: 10px;
    }

    #main-slider .cycle-prev {
        left: inherit;
        right: 50px;
    }

    #main-slider .cycle-next {
        right: 15px;
    }

    #main-slider .cycle-prev, #main-slider .cycle-next {
        bottom: 40px;
    }

    /*featured content*/

    #featured-content article {
        float: left;
        padding: 0 15px;
        max-width: 100%;
    }

    #featured-content,
    #featured-content,
    #content {
        clear: both;
        padding-top: 20px;
    }

    #home-page-widget-area {
        clear: both;
        padding: 30px 0;
    }

    #home-page-widget-area .widget {
        margin-top: 15px;
    }


    /*sidebar layout*/

    #primary,
    #sidebar-primary,
    #sidebar-secondary {
        width: 100%;
        clear: both;
        float: none;
    }

    .global-layout-three-columns #primary,
    .global-layout-three-columns .sidebar {
        display: inline-block;
        float: none;
        width: 100%;
    }

    /*footer widget area*/

    .sibebar{
        margin-top: 15px;
    }

    #footer-widgets .widget-column {
        float: left;
        padding: 0 15px;
        width: 50%;
    }

    #footer-widgets .widget-column:nth-child(3n) {
        clear: both;
    }

    .widget.business_era_widget_services .services-item {
        width: 100%;
        margin-left: 0px;
    }

   .business_era_widget_teams .business_era_widget_teams .our-team-item {
        width: 50%;
    }

    #home-page-widget-area .business_era_widget_call_to_action::before,
    #home-page-widget-area .business_era_widget_call_to_action::after,
    .business_era_widget_call_to_action::after,
    .business_era_widget_call_to_action::before,
    #home-page-widget-area .widget.business_era_widget_call_to_action::after {
        display: none;
    }


    /*--------------------------------------------------------------
    ### Responsive css By Manesh
    --------------------------------------------------------------*/

    #featured-content .featured-content-column-4 article {
        max-width: 50%;
    }

    .business_era_widget_call_to_action {
        padding: 15px;
    }

    .widget {
        margin: 15px 0 0;
    }

    .testimonial-widget {
        padding: 0;
    }

    .business_era_widget_advanced_recent_posts img {
        float: left;
    }

    .business_era_widget_advanced_recent_posts {
        text-align: left;
    }

    .business_era_widget_latest_news .latest-news-widget .latest-news-item {
        width: 100%;
        margin-left: 0px;
    }

    #footer-widgets {
        padding: 30px 15px;
    }
    #featured-clients {
        margin-left: -15px;
        margin-right: -15px;
    }
    #colophon .copyright,
        #colophon .site-info {
        clear: both;
        text-align: center;
        width: 100%;
    }
    #featured-content .featured-content-column-3 article {
        max-width: 100%;
    }
    .business_era_widget_teams .our-team-col-4 .our-team-item,
    .business_era_widget_teams .our-team-col-3 .our-team-item {
        width: 50%;
    }
	
	.top-header-wrap {
		text-align:center;		
	}
	
	.top-header .address, 
	.top-header .telephone, 
	.top-header .email, 
	.top-header .opening-hours {
		float:none;
		display:inline-block;		
	}
	
	.top-header .menu-social-menu-container {
		float: none;
		width: 100%;
		text-align: center;
		display: inline-block;
		margin-top:5px;
	}
	
	.page-left-section, 
	.page-right-section {
		width:100%;			
	}
	
	.business_era_widget_page .info-part {
		margin-bottom:20px;		
	}
	
	.business_era_widget_our_team .our-team-col-4 .our-team-item,
	.business_era_widget_our_team .our-team-col-3 .our-team-item,
	.business_era_widget_portfolio .portfolio-col-3 .portfolio-item,
	.business_era_widget_portfolio .portfolio-col-4 .portfolio-item {
		width:100%;	
        margin-left: 0px;	
	}
	
	.business_era_widget_call_to_action .cta-wrap .call-to-action-content {
		width:60%;		
	}
	
	.business_era_widget_call_to_action .cta-wrap .call-to-action-buttons {
		width:40%;		
	}
	
	#home-page-widget-area .widget-title {
		font-size:25px;		
	}
	
	#main-slider,
	#main-slider article.cycle-slide {
		height:auto !important;
		min-height:450px;		
	}
	
	#main-slider .cycle-pager {
		bottom:40px;		
	}
	
	.top-header .menu-social-menu-container  ul {
		display:inline-block;		
	}
	
	.mean-container .mean-nav ul li a {
		padding-left:54px;
		padding-right:54px;
	}
	
}

@media screen and (max-width:640px){
	
	#main-slider,
	#main-slider article.cycle-slide {
		min-height:367px;		
	}
	
	.mean-container .mean-nav ul li a {
		padding-left:47px;
	}
	
}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width:550px) {
    .business_era_widget_latest_news .latest-news-widget .latest-news-item {
        width: 100%;
    }
	
   	#main-slider .cycle-caption {
   	 width: 80%;
	}
	
	#main-slider .cycle-pager {
		bottom:10%;		
	}
   
    .business_era_widget_latest_news .latest-news-col-4 .latest-news-item,
    .business_era_widget_latest_news .latest-news-col-3 .latest-news-item
    .business_era_widget_latest_news .latest-news-col-2 .latest-news-item
    .business_era_widget_services .services-column-4 .services-item,
    .business_era_widget_services .services-column-3 .services-item
    .business_era_widget_services .services-column-2 .services-item {
        width: 100%;
    }
    .widget.business_era_widget_services .services-item {
        width: 100%;
    }
    .business_era_widget_featured_page img {
        display: block;
        float: none;
        margin: 0 auto;
    }
    .business_era_widget_latest_news .latest-news-item img,
	.business_era_widget_our_team  .our-team-col-3 .our-team-item,
	.business_era_widget_our_team  .our-team-col-2 .our-team-item,
	.business_era_widget_our_team  .our-team-col-4 .our-team-item,
	.business_era_widget_portfolio .portfolio-col-3 .portfolio-item,
	.business_era_widget_portfolio .portfolio-col-2 .portfolio-item,
	.business_era_widget_portfolio .portfolio-col-4 .portfolio-item,
	.business_era_widget_latest_news .latest-news-widget .latest-news-item,
	.business_era_widget_call_to_action .cta-wrap .call-to-action-content,
	.business_era_widget_call_to_action .cta-wrap .call-to-action-buttons {
        width:100%;
    }
	
	.business_era_widget_testimonials #testimonial-slider article .testimonials-wrap {
		width:90%;		
	}
	
	.business_era_widget_call_to_action .cta-wrap .call-to-action-content,
	.business_era_widget_call_to_action .cta-wrap .call-to-action-buttons {
		display:block;		
	}
	
	.business_era_widget_call_to_action .cta-wrap .call-to-action-content {
		margin-bottom:15px;		
	}
	
	#main-slider,
	#main-slider article.cycle-slide {
		min-height:321px;		
	}
	
	.mean-container .mean-nav ul li a {
		padding-left:40px;
	}
	
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width:479px) {
    .custom-logo-link,.site-logo-link,
    #site-identity {
        display: block;
        float: none;
        margin-right: 0;
        text-align: center;
        width: 100%;
        max-width: inherit;
    }

    .site-branding {
        text-align: left;
    }

    /*main slider */


    #main-slider:hover .cycle-caption,
    #main-slider .cycle-caption {
       
        padding: 20px;
    	
    }

    #main-slider .cycle-caption h3 {
        font-size: 16px;
        height: auto;
        margin-bottom: 0;
        overflow: hidden;
    }

  
    #main-slider .cycle-caption p {
        display: none;
    }

    #footer-widgets .widget-column {
        width: 100%;
    }

    #footer-widgets .widget-column:first-child {
        border: none;
        margin-top: 0;
        padding-top: 0;
    }

    #footer-widgets .widget-column {
        width: 100%;
        padding-top: 15px;
        margin-top: 15px;
    }

   .business_era_widget_teams .our-team-item {
        width: 100%;
    }

    .client-item {
        display: inline-block;
        margin: 15px 25px;
    }

    #featured-clients .cycle-prev,
    #featured-clients .cycle-next {
        display: none;
    }

    .site-description {
        margin-bottom: 0;
    }


    #featured-content .featured-content-column-3 article,
    #featured-content .featured-content-column-4 article {
        max-width: 100%;
    }

    .search-form input.search-field {
        width: 76%;
    }

    .search-box .search-box-wrap {
        right: 3%;
        width: 263px;
    }

    .social-links {
        float: right;
        max-width: 208px;
        text-align: right;
    }


    .social-links .business_era_widget_social li {
        display: inline-block;
        float: none;
    }

    .search-box {
        float: right;
        position: relative;
        width: 33px;
    }
    .site-layout-boxed #page .container {
        padding: 0;
        width: 100%;
    }
    .business_era_widget_teams .our-team-col-4 .our-team-item,
    .business_era_widget_teams .our-team-col-3 .our-team-item,
    .business_era_widget_teams .our-team-col-2 .our-team-item {
        width: 100%;
    }
	
	.services-item-title {
		font-size:16px;		
	}
	
	.business_era_widget_advance_call_to_action .call-to-action-buttons a.cta-button-primary {
		margin-bottom:15px;		
	}
	
	#main-slider,
	#main-slider article.cycle-slide {
		min-height:242px;		
	}
	
	#main-slider .cycle-prev, 
	#main-slider .cycle-next {
		bottom:20px;		
	}
	
	.mean-container a.meanmenu-reveal {
		top:14px;		
	}
	
	.mean-container .mean-nav ul li a {
		padding-left:34px;		
	}
	
}

@media screen and (max-width:360px){
	#main-slider,
	#main-slider article.cycle-slide {
		min-height:214px;		
	}
	
	.mean-container .mean-nav ul li a {
		padding-left:32px;		
	}
}
